{% extends "base.html" %}

{% block title %}Python Learning Portal{% endblock %}

{% block content %}
    <h2>Welcome to the Python Learning Portal, {{ username }}!</h2>
    <p>You have successfully logged in after passing the CAPTCHA verification on the registration page.</p>
    
    <h3>🚀 Your Python Journey Starts Here</h3>
    <p>Here are some resources to get you started with Python:</p>
    <ul>
        <li><a href="https://docs.python.org/3/tutorial/" target="_blank">The Official Python Tutorial</a></li>
        <li><a href="https://www.w3schools.com/python/" target="_blank">W3Schools Python Guide</a></li>
        <li><a href="https://automatetheboringstuff.com/" target="_blank">Automate the Boring Stuff with Python</a></li>
    </ul>
    
    <p>Happy Coding!</p>
{% endblock %}